.font-size {
    font-size: 40px;
   
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 40%;
    height:70%;
    border-radius: 50%;
    box-shadow:3px 3px 2px #ccc;;
}
  .born {
    margin-left: 15%;
    margin-right: auto; 
    font-family: 'Indie Flower', cursive;
  }
  .died {
    margin-left: 70%;
    margin-right: auto;
    font-family: 'Indie Flower', cursive;
  }
  .position {
      text-align: center;
  }
  .tab {
      font-size:x-large;
     display:grid;
     grid-template-columns: auto;
     
  }
  .col {
      background-color:ghostwhite;
  }
  .top {
      background-color: whitesmoke;
  }
.a {
    font-size:large;
    background-color: rgb(250, 250, 249);
}
.b {
    background-color: mintcream;
}
.p {
    font-family: 'Lobster', cursive;
}

.tt {
    font-style: italic;
}